body {
    margin: 0;
    display: flex;
    flex-direction: column;
}
ul {
    list-style: none;
    display: flex;
    margin-left: auto;
    justify-content: space-between;
    gap: 15px;
}
button {
    background-color: #CEE5D0;
    color: #87AAAA;
    padding: 5px 20px;
    border-radius: 10px;
    border-color: #87AAAA;
}
button:hover {
    background-color: azure;
    color: #87AAAA;
    border-color: azure;
}
a {
    text-decoration: none;
    color: azure;
    font-size: larger;
}
a:hover {
    color: #87AAAA;
}
span {
    font-weight: 700;
    font-size: 24px;
}
.nav, .header, .pictures, .quote, .footer {
    padding: 30px 200px 30px;
    margin: 0;
}
.nav {
    display: flex;
    background-color: #FFBF86;
    color: azure;
}
.header {
    background-color: #FFBF86;
    color: azure;
    display: flex;
    align-items: stretch;
    gap: 40px;
}

.header img {
    width: 24rem;
}
.header h1 {
    font-size: 48px;
}
.pictures img {
    width: 10rem;
    border: 3px solid #FFBF86;
    border-radius: 20px;
}
.body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    
}
.pictures {
    text-align: center;
    background-color: #F3F0D7;
    color: #FFBF86;
}
.items {
    width: 180px;
    text-align: center;
}
.quote {
    background-color: #CEE5D0;
    color: #87AAAA;
    font-size: 40px;
    text-align: center;
}
.word {
    font-style: italic;
}
.author {
    font-weight: 900;
    text-align: right;
}
.bottom {
    background-color: #F3F0D7;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px 200px;
}
.inner {
    background-color: #F19292;
    color: azure;
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
}
.footer {
    text-align: center;
    color:azure;
    background-color: #FFBF86;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}